### Catalogs for dokerized applications ###
.gitlab/

### Byte-compiled / optimized / DLL files ###
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

### Jupyter notebook / lab ###
.ipynb_checkpoints/

### Docker Compose unnecessary files ###
docker-compose-lab/data/

### Python Virtual environments ###
.venv

### Various temporary files ###
temp/111/
