### Catalogs for dokerized applications ###
.gitlab/

### Byte-compiled / optimized / DLL files ###
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

### Jupyter notebook / lab ###
.ipynb_checkpoints/

###
docker-compose-lab/data/
